.ecomicon{height: 100px;}
.menu-items{padding:10px;font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:blue;background-color: white;}

.menu{height: 150px;margin: 20px;}
.carticon{height: 70px;width: 80px;}
.textbox{width: 350px;}
.headnav{background-color: white;}